@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Lato'; 
  font-style: normal;
  font-weight: 400;
  src: url('Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato'; 
  font-style: normal;
  font-weight: 700;
  src: url('Lato-Bold.ttf');
}